<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <!--
    <nav>
      <div class="nav-wrapper light-blue darken-2">
        <a href="/" class="brand-logo"
          ><i class="material-icons">event_note</i>Todo App</a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/sign-up">Sign-Up</a></li>
        </ul>
      </div>
    </nav>
    -->

    <nav>
      <div class="nav-wrapper light-blue darken-2">
        <a href="#" class="brand-logo"
          ><i class="material-icons">event_note</i>Todo App</a
        >
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
          <li><a href="/todo">Todos</a></li>
          <li><a href="/logout">Logout</a></li>
          {% else %}
          <li><a href="/">Login</a></li>
          <li><a href="/sign-up">Sign-Up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      {% if user.is_authenticated %}
      <li><a href="/todo">Todos</a></li>
      <li><a href="/logout">Logout</a></li>
      {% else %}
      <li><a href="/">Login</a></li>
      <li><a href="/sign-up">Sign-Up</a></li>
      {% endif %}
    </ul>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="materialert error">
      <div class="material-icons">error_outline</div>
      <span>{{ message }}</span>
      <button type="button" class="close-alert">×</button>
    </div>
    {% else %}
    <div class="materialert success">
      <div class="material-icons">check</div>
      <span>{{ message }}</span>
      <button type="button" class="close-alert">×</button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
