{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<div class="center-align">
  <h5>Create an Account</h5>
</div>

<div class="row">
  <form class="col s12" method="POST">
    <div class="row card-panel">
      <div class="row">
        <div class="input-field col s12">
          <label for="name">{{form.name.label}}</label>
          {{ form.name(class_ = 'validate', autofocus = true) }}
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <label for="email">{{form.email.label}}</label>
          {{ form.email(class_ = 'validate', autofocus = true, type='email')}}
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <label for="password1">{{form.password1.label}}</label>
          {{ form.password1(class_ = 'validate', autofocus = true)}}
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <label for="password2">{{form.password2.label}}</label>
          {{ form.password2(class_ = 'validate', autofocus = true)}}
        </div>
      </div>

      <input
        type="submit"
        name="Register"
        class="btn waves-effect waves-light"
      />
    </div>
  </form>
</div>
{% endblock %}
